extends ./admin.pug

block admin-aside2-content
  
  input(type="text" name="search" placeholder="search string")
  select(name="search_type")
    option ServiceNumber
    option Station
    option Name
  button(class="start_search") Search
  button(class="add_police add_new") Add Police

  div(class="add_police_modal add_new_modal" hidden)

    form(method="POST" enctype="multipart/form-data" class="add_police_form add_new_form")

      div(class="police_image new_image")
        div(class="preview-picture")
        label.required.web_cam
          input(type="radio" name="upload_media" value="webcam" required)
          span Web Cam

        label.required.file
          input(type="radio" name="upload_media" value="file" required)
          span File

      div(class="police_cred new_cred")

        div(class="name")
          label.required.firstname
            span Firstname:
            input(type="text" name="police_firstname" required)
          label.required.lastname
            span Lastname:
            input(type="text" name="police_lastname" requried)

        div(class="info")

          label.required.serviceNo
            span Service Number:
            input(type="number" name="police_servicenumber" required)

          label.required.dob
            span Date Of Birth:
            input(type="date" name="police_dateofbirth" required)

          label.required.commencementdate
            span Start Date:
            input(type="date" name="police_commencementdate" required)
            
          label.required.stations
            span Stations:
            select(class="station" name="station" required)
              if ( stations_result )
                each station in stations_result
                  option= station.station_name

      div(class="btn_handler")
        button(class="submit" type="submit") Submit
        button(class="reset" type="reset") Reset
        button(class="cancel") Cancel
        
  div.police-officer
    - if ( noresult ) {
      p.badResult= noresult
    - }
    if ( policeinfo )
      ul.police_info
        each police in policeinfo
          li.police_info_list
            div(style="background: " + "url(data:image/jpeg;base64," + police.picture_data + ") center no-repeat; " + "background-size: cover;" class="image-preview")
            p.name #{police.firstName} #{police.lastName}
            p(class="service_no" __value-data=police.serviceNo) Service Number #{police.serviceNo}
            p.dob= police.dateOfbirth
            p.station= police.station.station_name + " police station"
            - const caseLength = police.assignedTo.length;
            p.numberOfCases= "Handled " + (caseLength > 0 ? caseLength : 0 ) + " criminal case"
            div.ctrlbtn
              button.transfer Transfer
                ul(class="station_list" hidden)
              button.assignto Assign
                div.assign
                  p Input Case Number
                  input(type="text" class="assign_number")
                  input(type="button" class="assign_submit" value="Assign")
                  input(type="button" class="close_assign" value="Close")
                  ul(class="case_list_n")
              button.delete Delete
              button.viewcase View Cases
      
  script(src="/js/police.js")