
extends account.pug

append asides
  aside#second_aside.update_profile
    form(method="POST" class="update_profile" enctype="multipart/form-data")
      p.err= regerr
      div.picture
        label.upload-picture
          p Upload Photo
          div(class="preview-picture" style=result.data_uri)
          input(type="file" name="picture")

      div.name-fields

        label.first-name
          span First Name
          input(type="text" name="firstName" placeholder="input first name" value=result.firstName )

        label.last-name
          span Last Name
          input(type="text" name="lastName" placeholder="input last name" value=result.lastName )

      div.address
        label.address-one
          span Address One
          input(type="text" name="addresOne" placeholder="Add Address" value=result.addresOne )

      div.address
        label.address-two
          span Address Two
          input(type="text" name="addressTwo" placeholder="Add Second Address" value=result.addressTwo )

      div.number
        label.phone-number
          span Phone Number
          input(type="telephone" name="phoneNumber" value=result.phoneNumber )

      div.date-of-birth
        label.dob
          span Date Of Birth
          input(type="date" name="dob" value=result.dob )
          
      div.bvn-number
        label.bvn
          span Bank Verification Number
          input(type="number" name="bvn" placeholder="input bvn number here" value=result.bvn )

      div.login-pwd
        label.user-new_password
          span New Password
          input(type="password" name="new_password" class="new_password" )

      div.confirm-pwd
        label.user-old_password
          span Old Password
          input(type="password" name="old_password" class="old_password" )

      div.btn-handler
        button.submit Update Profile
        button(type="reset" class="reset") Reset
  script(src="/js/preview-image.js")